body {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: wheat;
}




.container {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: 1fr 1fr 1fr  ;
  grid-template-rows: 20% auto;
  grid-gap: 20px;
  align-items: stretch;
}

.photo {
 display: inline-block;
 grid-column: 1;
 grid-row: 1;
 align-items: center;
 border: 1px black solid;
 border-radius: 50%;
 width: 150px;
 height: 150px;
 overflow: hidden;
}

.photo.img{
  width: inherit;
  height: inherit;
  border-radius: inherit;
}


.header {
  font-size: x-large;
  grid-column: 2 / 4;
  grid-row: 1;
}

.tel {
width: 20px;
height: 20px;
}

.mail {
  width: 20px;
  height: 20px;
}

.titre {
  grid-column: 1 / 4;
  grid-row: 2;
}

.h2_competences {
  grid-column: 1 / 4;
  grid-row: 3;
}

.col_competences {
  grid-column: 1;
  grid-row: 4;
}

.liW {
  margin-bottom: 18px;
}

.liA {
  margin-bottom: 33px;
}

.liB {
  margin-bottom: 33px;
}

.liT {
  margin-bottom: 35px;
}

.liL {
  margin-bottom: 30px;
}

.txt_competences {
  grid-column: 2 / 4;
  grid-row: 4;
}

.h2_experiences {
  grid-column: 1 / 4;
  grid-row: 5;
}
.col_experiences {
  grid-column: 1 ;
  grid-row: 6;
}

.txt_experiences {
  grid-column: 2 / 4;
  grid-row: 6;
}


